header,
footer {
  color: white;
  background-color: #daad86;
  margin: 0em 4em 0.5em 4em;
}

body {
  font-family: "Georgia", "Cambria ", "Times New Roman", Times, serif;
  font-size: 100%;
  background-color: #98dafc;
}

h1,
h2,
h3,
nav,
footer {
  font-family: "Trebuchet MS", "Lucida Grande", "Tahoma", sans-serif;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 0.75em;
}
h3 {
  font-size: 1.125em;
}
nav {
  font-size: 1.125em;
}

a:link {
  color: #98dafc;
  font-weight: bold;
}

a:visited {
  color: #daad86;
}

a:hover {
  background-color: #ffffcc;
}

header,
footer {
  background-color: #312c32;
}

.navLink {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.content {
  background-color: #ffffff;
  margin-right: 4em;
  margin-left: 4em;
  padding: 0.5em;
}

.largeImage {
  border: 1px solid #000000;
  padding: 0.25em;
  width: 98%;
}

.sectionHeader {
  border-bottom: 1px solid #000000;
}

.socialIconsContainer {
  background-image: url("../images/gray-gradient.png");
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 0.7em;
  border: 1px solid #a3a3a3;
}

.socialIcons {
  margin-left: 0.5em;
}

.byline {
  font-style: italic;
  color: #3884aa;
}

.comment {
  border-bottom: 1px dotted #000000;
}
